{% extends 'base.html' %}

{% block title %}Start a New Survey{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">All Surveys</li>
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Survey</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for survey in surveys %}
        <tr>
          <td>
            survey.name<!--<a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>-->
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}